/* WRAPPER */

.hoverwrap {
  position: relative;
}

/* RESPONSIVE IMAGE */

.hoverwrap img {
  width: 100%;
}

/* CAPTION */

.hovercap {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* SHOW/HIDE */

.hovercap {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.hoverwrap:hover .hovercap {
  visibility: visible;
  opacity: 1;
}

/* HEADER FULL HEIGHT */

.header-dark {
  height: 100%;
}

body {
  height: 100%;
}

html {
  height: 100%;
}

